.director-top {
    width: 200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #199ed8;
}

.director-top-l {
    width: 50%;
    float: left;
    text-align: center;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
}

.director-top-r {
    width: 50%;
    float: left;
    text-align: center;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
}

.director-add{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 25px;
    top: 20px;
}

.director-add img{
    width: 24px;
    height: 24px;
}

.director-sel {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 10px;
}

.director-sel .sel-item {
    width: 50%;
    box-sizing: border-box;
    border-right: 2px solid #f2f2f2;
    float: left;
}

.sel-item img {
    margin-left: 10px;
}

.sel-item:last-of-type {
    border-right: none;
}

.director-item {
    height: 80px;
    margin-bottom: 10px;
    background-color: #fff;
}

.director-item-top,.director-item-bottom {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.director-item-t-l {
    font-size: 14px;
    float: left;
    margin-left: 20px;
}

.director-item-t-l img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    position: relative;
    top: 5px;
}

.director-item-t-l span {
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    font-size: 16px;
    margin-right: 5px;
    color: #fff;
    text-align: center;
    background-color: rgba(215, 215, 215, 1);
}

.director-item-t-r {
    font-size: 14px;
    color: #ff0000;
    float: right;
    font-weight: 700;
    margin-right: 20px;
}

.director-item-t-r2{
    float: right;
    margin-right: 20px;
}

.director-item-t-r2 span{
    color: #999;
    margin-left: 20px;
    font-size: 14px;
}